<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle %> | RSF Recipes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="topHeader">
            <img src="/assets/logo.png">
            <div class="login">
                <a href="/login">Log In / Profile</a>
            </div>
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/meals">Meals</a></li>
                    <li><a href="/cuisines">Cuisines</a></li>
                </ul>
            </nav>
        </div>
    </header> 
