<%- include('./partials/header.ejs', {pageTitle: "Holidays"}) %>
<main>
    <div class="cuisines">
        <div class="cuisineDiv">

        </div>
        <div class="cuisineDiv">
            
        </div>
        <div class="cuisineDiv">
            
        </div>
        <div class="cuisineDiv">
            
        </div>
        <div class="cuisineDiv">
            
        </div>
        <div class="cuisineDiv">
            
        </div>
    </div>
</main>
<%- include("./partials/footer.ejs") %>