<%- include('./partials/header.ejs', {pageTitle: "Holidays"}) %>
<main>
    <div class="cuisines">
        <div class="cuisineDiv">
            <a href="/recipes/cuisine/italian"><img src="/assets/italian1.png"></a>
            <div class="text">
                <p>Italian</p>
            </div>
        </div>
        <div class="cuisineDiv">
            <a href="/recipes/cuisine/american"><img src="/assets/american.png"></a>
            <div class="text">
                <p>American</p>
            </div>
        </div>
        <div class="cuisineDiv">
            <a href="/recipes/cuisine/mexican"><img src="/assets/mexican.png"></a>
            <div class="text">
                <p>Mexican</p>
            </div>
        </div>
        <div class="cuisineDiv">
            <a href="/recipes/cuisine/mediterranean"><img src="/assets/mediterranean.png"></a>
            <div class="text">
                <p>Mediterranean</p>
            </div>
        </div>
        <div class="cuisineDiv">
            <a href="/recipes/cuisine/indian"><img src="/assets/indian.png"></a>
            <div class="text">
                <p>Indian</p>
            </div>
        </div>
        <div class="cuisineDiv">
            <a href="/recipes?search=chinese"><img src="/assets/chinese.png"></a>
            <div class="text">
                <p>Chinese</p>
            </div>
        </div>
    </div>
</main>
<%- include("./partials/footer.ejs") %>