<%- include('./partials/header.ejs', {pageTitle: "Home"}) %>
<main>
    <div class="div1">
        <!--Cuisines-->
        <div class="div1a">

        </div>
        <div class="div1b">
            
        </div>
        <div class="div1c">
            
        </div>
        <div class="div1d">
            
        </div>
    </div>

    <div class="div2">
        <!-- Featured / Tags -->
        <div class="div2a">

        </div>
        <div class="div2b">

        </div>


    </div>
</main>

<%- include('./partials/footer.ejs') %>