<%- include('./partials/header.ejs', {pageTitle: "Home"}) %>
<main>
    <div class="div1">
        <!--Cuisines-->
        <div class="div1a">
            <img src="/assets/italian2.png">
        </div>
        <div class="div1b">
            <img src="/assets/american.png">
        </div>
        <div class="div1c">
            <img src="/assets/mexican.png">
        </div>
        <div class="div1d">
            <a href="/recipes/mediterranean"><img src="/assets/mediterranean.png"></a>
        </div>
        <div class="div1e">
            <img src="/assets/chinese.png">
        </div>
        <div class="div1f">
            <img src="/assets/indian.png">
        </div>
    </div>

    <div class="div2">
        <!-- Editor Picks -->
        <div class="div2a">

        </div>
        <div class="div2b">

        </div>
        <div class="div2c">

        </div>
    </div>
    <div class="div3">
        <img src="/assets/div3.png">
        <!--Full Table Image Of Different Foods-->
        <!--Width 100% Text Box-->
        <div class="div3a">
            <!--Text Box-->
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>