<%- include('./partials/header.ejs', {pageTitle: "Home"}) %>
<main>
    <div class="div1">
        <!--Cuisines-->
        <div class="div1a">
            <a href="/recipes/cuisines"><img src="/assets/streetmarket.png"></a>
            <div class="text">
                <p>Cuisines</p>
            </div>
        </div>
        <div class="div1b">
            <a href="/recipes/smoothies"><img src="/assets/smoothies1.png"></a>
            <div class="text">
                <p>Smoothies</p>
            </div>
        </div>
        <div class="div1c">
            <a href="/recipes?search=gluten%20free"><img src="/assets/glutenfree.png"></a>
            <div class="text">
                <p>Gluten Free</p>
            </div>
        </div>
        <div class="div1d">
            <a href="/recipes?search=under%2030%20minute"><img src="/assets/minute.png"></a>
            <div class="text">
                <p>30 Minute Recipes</p>
            </div>
        </div>
        <div class="div1e">
            <a href="/recipes?search=Vegetarian"><img src="/assets/vegetarian.png"></a>
            <div class="text">
                <p>Vegetarian</p>
            </div>
        </div>
    </div>
    <div class="div2Title">
        <h4>Editor All-Time Favorite Recipes</h4>
        <div class="div2">
        <!-- Editor Picks -->
            <div class="div2a">
                <div class="names">
                    <p>Chef Raquel</p>
                </div>
                <div class="picks">
                    <div class="picksCard">
                        <a href="recipes/642f38c85744207ab83ddc18"><img src="/assets/raquelPick.png"></a>
                        <div class="text">
                            <p>Chicken Curry with Coconut Milk</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2b">
                <div class="names">
                    <p>Chef Sabrina</p>
                </div>
                <div class="picks">
                    <div class="picksCard">
                        <a href="recipes/642f38c85744207ab83ddb24"><img src="/assets/sabrinaPick.png"></a>
                        <div class="text">
                            <p>Honey Garlic Shrimp</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2c">
                <div class="names">
                    <p>Chef Frankie</p>
                </div>
                <div class="picks">
                    <div class="picksCard">
                        <a href="recipes/642f38c85744207ab83dda87"><img src="/assets/frankiePick.png"></a>
                        <div class="text">
                            <p>Chicken Parmesan Lasagna</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div3">
        <img src="/assets/div3.png">
        <!--Full Table Image Of Different Foods-->
        <!--Width 100% Text Box-->
        <div class="div3a">
            <!--Text Box-->
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>