<%- include('./partials/header.ejs', {pageTitle: "Home"}) %>
<main>
    <div class="div1">
        <!--Cuisines-->
        <div class="div1a">
            <a href="/recipes/cuisine/italian"><img src="/assets/italian2.png"></a>
            <div class="text">
                <p>Italian</p>
            </div>
        </div>
        <div class="div1b">
            <a href="/recipes/cuisine/american"><img src="/assets/american.png"></a>
            <div class="text">
                <p>American</p>
            </div>
        </div>
        <div class="div1c">
            <a href="/recipes/cuisine/mexican"><img src="/assets/mexican.png"></a>
            <div class="text">
                <p>Mexican</p>
            </div>
        </div>
        <div class="div1d">
            <a href="/recipes/cuisine/mediterranean"><img src="/assets/mediterranean.png"></a>
            <div class="text">
                <p>Mediterranean</p>
            </div>
        </div>
        <div class="div1e">
            <a href="/recipes/cuisine/indian"><img src="/assets/indian.png"></a>
            <div class="text">
                <p>Indian</p>
            </div>
        </div>
    </div>
    <div class="div2Title">
        <h4>Handpicked Recipes</h4>
        <div class="div2">
        <!-- Editor Picks -->
            <div class="div2a">
                <div class="names">
                    <p>Raquel</p>
                </div>
                <div class="picks">
                    <div class="picksCard">

                    </div>
                    <div class="picksCard">

                    </div>
                    <div class="picksCard">

                    </div>
                </div>
            </div>
            <div class="div2b">
                <div class="names">
                    <p>Sabrina</p>
                </div>
                <div class="picks">
                    <div class="picksCard">

                    </div>
                    <div class="picksCard">

                    </div>
                    <div class="picksCard">

                    </div>
                </div>
            </div>
            <div class="div2c">
                <div class="names">
                    <p>Frankie</p>
                </div>
                <div class="picks">
                    <div class="picksCard">

                    </div>
                    <div class="picksCard">

                    </div>
                    <div class="picksCard">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div3">
        <img src="/assets/div3.png">
        <!--Full Table Image Of Different Foods-->
        <!--Width 100% Text Box-->
        <div class="div3a">
            <!--Text Box-->
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>