@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
}

.topHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #EF6351;
}

.login {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
}

.login a {
    color: white;
}

.topHeader img {
    width: 400px;
    height: 150px;
    object-fit: contain;
}

.navbar {
    background-color: #F38375;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: #FFE3E0;
    height: 60px;
}

.search input[type="text"] {
    width: 300px;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    outline: none;
}

.search button {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffc84d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.search button:hover {
    background-color: #ffa31a;
}

main {
    padding-top: 250px;
    margin: 0px;
}

.div1 {
    height: 350px;
    width: 100%;
    background-color: #f7a399;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
}

.div1a, .div1b, .div1c, .div1d, .div1e {
    
    height: 250px;
    width: 200px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.div1a img, .div1b img, .div1c img, .div1d img, .div1e img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 5px;
}

.div1a img:hover, .div1b img:hover, .div1c img:hover, .div1d img:hover, .div1e img:hover {
    filter: brightness(70%);
}

.div2Title {
    text-align: center;
    font-size: 20px;
}

.div2 {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div2a, .div2b, .div2c {
    width: 450px;
    height: 550px;
    border: 1px solid black;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.names {
    background-color: #ffc84d;
    color: white;
    text-align: center;
    padding: 5px;
}

.picks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 475px;
    width: 100%;
}

.picksCard {
    height: 140px;
    width: 90%;
    border: 1px solid black;
}

.div3 {
    width: 100%;
    height: 400px;  
}

.div3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Newsletter */

.newsletter {
    height: 200px;
    width: 100%;
    background-color: #fdcc43;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.newsletter h4 {
    font-size: 40px;
    margin: 0;
    color: white;
}


.newsletter input[type="email"] {
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-right: 10px;
}

.newsletter button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* Recipes */

.recipes {
    width: 100%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.recipeDiv {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.recipeDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipeDiv a {
    text-decoration: none;
    color: black;
}

.recipeDiv h3 {
    margin: 5px;
    font-size: 18px;
}

.recipeDiv:hover {
    filter: brightness(70%);
}

.recipeDiv h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

/* Show Page */

.recipeShow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    justify-content: space-evenly;
    
}

.recipeShow img {
    width: 500px;
    height: 600px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    object-fit: cover;

}

.showInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
    width: 700px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    color: white;
    background-color: #F2aa7e;
}

/* Forms */

.divForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.divForm form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.divForm input {
    width: 300px
}

.divForm input[type="submit"] {
    padding: 10px 20px;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid black;
    color: black;
    font-size: 16px;
}

.divForm input[id="cooking_method"] {
    height: 100px;
    inline-size: 300px;
    word-wrap: break-word;
}

/* Cuisine Div */

.cuisines {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    margin: 20px 20px;
}

.cuisineDiv {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
